<div class="movie-details container" *ngIf="movie">
    <div class="center movie-details__img-container">
        <img class="movie-details__img" [src]="movie.img" alt="{{movie.name}}" (error)="imgNotFound($event)">
    </div>
    <div class="movie-details__content">
        <h1 class="movie-details__title cm">{{movie.name}}</h1>
        <div class="movie-details__length">{{movie.length}}</div>
        <app-movie-rating [rate]="movie.rate"></app-movie-rating>
        <p class="movie-details__desc">{{movie.description}}</p>
        <app-genres-list class="genres-list" [genres]="movie.genres"></app-genres-list>
        <app-link-button
                class="back-btn"
                [text]="'Back to list'"
                [url]="'/'"
                [iconName]="'return'"
        ></app-link-button>
    </div>
</div>
