@import "../../../../styles/variables";

.movie-details {
  display: flex;
  margin-top: 20px;

  &__img-container {
    width: 350px;
    max-width: 100%;
    padding: 10px 20px 10px 0;
    border-right: 1px solid $main-color;
  }

  &__img {
    width: 100%;
  }

  &__content {
    padding: 0 20px;
    flex: 1 0;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
  }

  &__length {
    font-size: 16px;
    margin: 10px 0 40px;
  }

  &__desc {
    font-size: 18px;
  }
}

.genres-list {
  margin-top: 50px;
}

.back-btn {
  margin-top: 30px;
  width: 300px;
  display: block;
}

@media screen and (max-width: 600px) {
  .movie-details {
    flex-wrap: wrap;

    &__content {
      padding: 0 5px;
      flex: auto;
    }

    &__img-container {
      width: auto;
      margin: auto;
      padding: 0;
      border: none;
    }
  }
  .genres-list {
    margin-top: 20px;
  }
  .back-btn {
    width: 100%;
    margin: 30px auto 20px;
  }
}
